body {
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  background-color: $white-color;
  color: $text-color;

  margin: 0px;

  @media screen and (min-width: $tablet) {
    padding-top: 80px;
  }
}
