body {
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  background-color: $white-color;
  color: $text-color;

  margin: 0;

  @media screen and (min-width: $desktop) {
    padding-top: 80px;
  }

  &.modal-open {
    overflow: hidden;
  }
}
