.header-logo {
  @include logo();
  font-size: 24px;
  color: $logo-color;
  white-space: nowrap;
}
.logo-blue-part {
  color: $blue-color;
}
.footer-logo {
  @include logo();
  font-size: 22px;
  color: $white-color;

  margin: 0;
  margin-bottom: 8px;
}
